@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {font: italic 20px fantasy;
}

h3{font: italic 20px fantasy;
}

li{font: italic 20px fantasy;}

h4{font: italic 70px fantasy;
color: rgb(90, 101, 200);
}

h5{font: italic 70px fantasy;
color: rgb(90, 101, 200);}

h6{font: italic 70px fantasy;
color: rgb(90, 101, 200);}


